.container {
    overflow: hidden;
    background-color: #000;
    font-family: Comic Sans Ms;
    border-radius: 10px;
}

.container a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: #1abc9c;
    background-color: inherit;
    text-transform: uppercase;
    font-weight: bold;
}
.container a, .dropdown .dropbtn {
    padding: 15px 18px;
    font-size: 16px;  
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #008080;
}

.dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 5px 5px 30px #000;
}

.dropdown-content a {
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F0F8FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}
h2 { 
    text-align: center;
    font-family: "comic sans ms";
 }